/* LOAN DETAILS COLUMN*/

.loan-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loan-form .column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loan-form .column input {
    border: 1px solid;
    width: 50%;
    padding: 1.8%;
}
.submit-btn {
    width: 25%;
    padding: 2%;
    margin: auto;
}

/* LOAN SUMMARY  */

.summary {
    background-color: rgba(162, 216, 206, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.summary-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
}